#instagram figure.instagram-item {
  width: 20%;
}
figure.instagram-item img.insta-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.instagram-item .icon-overlay {
  top: 30px;
  left: 0;
  width: 100%;
  height: auto;
  color: black;
  justify-content: center;
  align-content: bottom;
  opacity: 0;
  transition: 0.9s ease-out;
}
.instagram-item:hover .icon-overlay {
  top: 0;
  opacity: 1;
}
.icon-overlay svg {
  color:black; /* Make the icon white for better contrast */
}
.instagram-item .icon-overlay svg.instagram {
  height: 10px;
}

@media only screen and (max-width: 767px) {
#instagram figure.instagram-item {
    width: 30%;
}
}

@media only screen and (max-width: 501px) {
#instagram figure.instagram-item {
    width: 100%;
}
}
.social-links svg {
  width: 20px;
  height: 20px;
  color: var(--light-gray-color);
}
.social-links svg:hover {
  color: var(--primary-color);
}
.social-links li {
padding-right: 30px;
}